
.about {
    margin: 30px 50px;
}

.about img {
  width: 100%;
  max-height: 20vh;
  min-height: 111px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 30px;
  filter: brightness(100%);
}

.collapse-column {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

button.collapse__header {
    width: 70vw;
}

button.collapse__content {
    width: 70vw;
}