.about {

	img {
		border-radius: 15px;
		object-fit: cover;
		filter: brightness(70%);
	}
}

.collapse-column {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 30px;

	.collapse__header {
		width: 80vw;
	}

	.collapse__content {
		width: 80vw;
	}
}

@media (max-width: 768px) {
	.collapse {
		width: 100%;
	}

	.collapse-column {
		margin: 16px 16px 0 16px;
	}

	.collapse-column .collapse__header {
		width: 100%;
	}
	.collapse-column .collapse__content {
		width: 100%;
	}
	.collapse__header span {
		font-size: 12px;
	}
	.collapse__content span {
		font-size: 12px;
	}
	.collapse__content p {
		font-size: 12px;
	}

	.about img {
		max-height: 111px;
	}
}