.about {

	margin-bottom: 30px;

	img {
		border-radius: 15px;
		object-fit: cover;
		filter: brightness(70%);
	}
}

.collapse-column {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	.collapse__header {
		width: 80vw;
	}

	.collapse__content {
		width: 80vw;
	}
}

@media (max-width: 768px) {
	.collapse-column .collapse__header {
		width: 90vw;
	}
	.collapse-column .collapse__content {
		width: 90vw;
	}
	.collapse__header span {
		font-size: 12px;
	}
	.collapse__content span {
		font-size: 12px;
	}
}