
.about {
    margin: 30px 50px;
}

.about img {
  width: 100%;
  max-height: 20vh;
  border-radius: 15px;
  position: relative;
  object-fit: cover;
  margin-bottom: 30px;
}

.collapse-column {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}