.rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rating-star {
    width: 36px;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .rating-star {
        width: 24px;
        margin-top: 0px;
    }
}