* {
  margin: 0;
}

$textFamily: 'Montserrat', sans-serif;
$textColor: rgba(255, 96, 96, 1);
$textWeight: 500;
$generalMargin: 30px 50px;

h1 {
  color : $textColor;
  font-family: $textFamily;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $generalMargin;
}

.header .nav {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-family: $textFamily;
  font-weight: $textWeight;
  font-size: 18px;
  padding: 20px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $generalMargin;
}

.home img {
  width: 100%;
  max-height: 223px;
  border-radius: 15px;
  position: relative;
  filter: brightness(50%);
}

.home p {
  position: absolute;
  color: white;
  font-family: $textFamily;
  font-weight: 700;
  font-size: 48px;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
} 

.house-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  list-style: none;
  margin: $generalMargin;
}

.house-card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.house-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(10, 10, 10, 0) 42%, 
    rgba(4, 4, 4, 0.205) 99.99%, 
    rgba(0, 0, 0, 0.5) 100%
    );
}


.house-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;
  color: white;
  font-family: $textFamily;
  font-weight: 700;
  font-size: 18px;
}