* {
  margin: 0;
}

$textFamily: 'Montserrat', sans-serif;
$textColor: rgba(255, 96, 96, 1);
$textWeight: 500;
$generalMargin: 30px 50px;

// h1 {
//   color : $textColor;
//   font-family: $textFamily;
// }

// .banner {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: $generalMargin;
// }

// .banner .nav {
//   margin-left: 20px;
//   text-decoration: none;
//   color: black;
//   font-family: $textFamily;
//   font-weight: $textWeight;
//   font-size: 18px;
//   padding: 20px;
// }

// .banner .nav .active {
//   text-decoration: underline;
// }

// .home {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: $generalMargin;
// }

// .home img {
//   width: 100%;
//   max-height: 20vh;
//   border-radius: 15px;
//   position: relative;
//   filter: brightness(50%);
// }

// .home p {
//   position: absolute;
//   color: white;
//   font-family: $textFamily;
//   font-weight: 700;
//   font-size: 48px;
//   text-shadow:
//     1px 1px 0 #000,
//     -1px 1px 0 #000,
//     -1px -1px 0 #000,
//     1px -1px 0 #000;
// } 

// .house-list {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 2rem;
//   padding: 2rem;
//   background-color: rgba(246, 246, 246, 1);
//   border-radius: 25px;
//   list-style: none;
//   margin: $generalMargin;
// }

// .house-card {
//   position: relative;
//   aspect-ratio: 1 / 1;
//   overflow: hidden;
//   cursor: pointer;
//   border-radius: 10px;
// }

// .house-card::after {
//   content: "";
//   position: absolute;
//   inset: 0;
//   background: linear-gradient(
//     180deg, 
//     rgba(255, 255, 255, 0) 0%, 
//     rgba(10, 10, 10, 0) 42%, 
//     rgba(4, 4, 4, 0.205) 99.99%, 
//     rgba(0, 0, 0, 0.5) 100%
//     );
// }


// .house-card img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .house-title {
//   position: absolute;
//   bottom: 1rem;
//   left: 1rem;
//   right: 1rem;
//   z-index: 1;
//   color: white;
//   font-family: $textFamily;
//   font-weight: 700;
//   font-size: 18px;
// }

.footer {
    width: 100%;
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
//     gap: 12px;
//     padding-top: 32px;
}

.footerContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color : white;
}

@media (max-width: 890px) {

  $generalMargin: 30px 20px;

  .house-list {
    grid-template-columns: repeat(1, 1fr);
    margin: $generalMargin;
    padding: 2px;
    background-color: #fff;
  }

  .home {
    margin: $generalMargin;
  }

  .home p {
    font-size: 24px;
    margin: 40px
  }

  .home img {
    height: 10vh;
    object-fit: cover;
  }

  .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .nav {
  color: black;
  font-family: $textFamily;
  font-weight: $textWeight;
  font-size: 12px;
  margin: 0;
  padding: 10px;
}

}