* {
  margin: 0;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}

main {
  flex: 1;
}

$textFamily: 'Montserrat', sans-serif;
$textColor: rgba(255, 96, 96, 1);
$textWeight: 500;
$generalMargin: 30px 50px;

.house-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: rgba(246, 246, 246, 1);
  border-radius: 25px;
  list-style: none;
  margin: $generalMargin;
}

.house-card {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.house-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(10, 10, 10, 0) 42%, 
    rgba(4, 4, 4, 0.205) 99.99%, 
    rgba(0, 0, 0, 0.5) 100%
    );
}


.house-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.house-title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 1;
  color: white;
  font-family: $textFamily;
  font-weight: 700;
  font-size: 18px;
}

.break-line {
  display: inline;
}

@media (max-width: 768px) {

  .house-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    margin: 0px;
    background-color: white;
  }
  .house-title {
    font-size: 18px;
  }

  .break-line {
    display: block;
  }
}