
.collapse {
        
    margin-bottom: 20px;

    &__header {
        width: 70vw;
        background: rgba(255, 96, 96, 1);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px 10px 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
    }

    &__arrow {
        transition: transform 0.5s;

        &.open {
            transform: rotate(-180deg);
        }
    }

    &__content {
        width: 70vw;
        box-sizing: border-box;
        background-color: rgba(246, 246, 246, 0.45);

        padding: 20px;
        border-radius: 0 0 5px 5px;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 768px) {
	.collapse__header {
		border-radius: 5px;
	}
	.collapse__content {
		padding: 10px;
		p {
			font-size: 12px;
		}
		ul {
			font-size: 12px;
		}
	}
}