

.footer {
    width: 100%;
    height: 209px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 32px;
}

.footerContent {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color : white;
}