.banner {
    margin: 30px 100px;
}

.house-cover {
    margin: 0 100px;
}

.house-slider {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.collapse-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.collapse__header {
    width: 30vw;
}