$color_1: #FF6060;
$color_2: rgba(0, 0, 0, 1);
$color_3: rgba(255, 255, 255, 1);
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: rgba(255, 96, 96, 1);


.house-cover {
	margin: 0 100px;
}
.info-title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.main-info-house {
	display: flex;
	flex-direction: column;
	gap: 10px;
	h1 {
		font-size: 36px;
		font-weight: 500;
		font-family: $font-family_1;
		color: $color_1;
	}
	h2 {
		font-size: 18px;
		font-weight: 500;
		font-family: $font-family_1;
		color: $color_2;
		padding-bottom: 15px;
	}
}
.tag {
	font-family: $font-family_1;
	font-weight: 700;
	font-size: 14px;
	color: $color_3;
	background-color: $background-color_1;
	border-radius: 10px;
	padding: 5px 10px;
	margin-right: 10px;
}
.main-info-person {
	display: flex;
	align-items: center;
	gap: 20px;
}
.person-name {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 500;
	font-family: $font-family_1;
	color: $color_1;
}
.person-picture {
	border-radius: 50%;
	width: 64px;
}
.collapse-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 15px;
}
.collapse__header {
	width: 41vw;
	padding-right: 10px;
}
.collapse__content {
	width: 41vw;
}

@media (max-width: 768px) {
	.house-cover {
		margin: 0 16px;
	}
	.info-title-container {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 16px;
		gap: 20px;
	}
	.main-info-house h1 {
		font-size: 24px;
	}
	.main-info-house h2 {
		font-size: 12px;
		padding-bottom: 0px;
	}
	.tag {
		font-size: 10px;
		padding: 3px 6px;
		border-radius: 5px;
	}
	.main-info-person {
		gap: 10px;
	}
	.person-name {
		font-size: 12px;
	}
	.info-host-container {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.rating {
		align-content: center;
	}

	.collapse-info {
		flex-direction: column;
	}

	.collapse__header {
		width: 100%;
	}

	.collapse__content {
		width: 100%;
	}
}