$color_1: white;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: black;

.footer {
	width: 100%;
	height: 209px;
	background-color: $background-color_1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.footerContent {
	font-family: $font-family_1;
	font-size: 24px;
	font-weight: 500;
	color: $color_1;
}

@media (max-width: 768px) {
    .footerContent {
        font-size: 12px;
    }
}