$textFamily: 'Montserrat', sans-serif;
$textColor: rgba(255, 96, 96, 1);
$textWeight: 500;
$generalMargin: 30px 50px;

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $generalMargin;
}

.banner img {
  width: 100%;
  max-height: 223px;
  border-radius: 15px;
  position: relative;
  filter: brightness(50%);
}

.banner p {
  position: absolute;
  color: white;
  font-family: $textFamily;
  font-weight: 700;
  font-size: 48px;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
} 

@media (max-width: 768px) {
    .banner {
        margin: 30px 20px;
    }
     .banner p {
        font-size: 24px;
    }
     .banner img {
        max-height: 111px;
    }
    .banner img {
        width: 100vw;
        max-height: 15vh;
    }
}
