.slider-container {
    position: relative;
    width: 100%;
    height: 415px;
    margin-bottom: 30px;
}

.house-slider {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
    margin-bottom: 30px;
    animation: fade 2s ease;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 80px;
    color: white;
    cursor: pointer;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}