$color_1: white;
$font-family_1: 'Montserrat', sans-serif;

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.slider-container {
	position: relative;
	width: 100%;
	height: 415px;
	margin: 30px 0 15px 0;
}
.house-slider {
	width: 100%;
	height: 415px;
	border-radius: 25px;
	object-fit: cover;
	animation: fade 2s ease;
}
.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	font-size: 80px;
	color: $color_1;
	cursor: pointer;
}
.left {
	left: 20px;
}
.right {
	right: 20px;
}
.counter {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: $color_1;
	font-size: 18px;
	font-family: $font-family_1;
}

@media (max-width: 768px) {
	.slider-container {
		height: 255px;
	}
	.house-slider {
		height: 255px;
	}
	.counter {
		display: none;
	}
	svg {
		height: 25px;
	}
	.left {
		left: 0px;
	}
	.right {
		right: 0px;
	}
}