
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.title {
    font-size: 288px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
}

.subTitle {
    font-size: 36px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    margin-bottom: 50px;
}