$color_1: #FF6060;
$font-family_1: 'Montserrat', sans-serif;

.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 100px;
	margin-bottom: 50px;
}
.title {
	font-size: 288px;
	font-weight: 700;
	font-family: $font-family_1;
	color: $color_1;
}
.subTitle {
	font-size: 36px;
	font-weight: 500;
	font-family: $font-family_1;
	color: $color_1;
	margin-bottom: 50px;
}
.backlink {
    color: black;
    font-family: $font-family_1;
    font-size: 18px;
    font-weight: 500;
}